.form-container {
  max-width: 600px;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin: auto;
  margin-top: 2rem;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.8s ease forwards;
}

.form-container:hover {
  transform: scale(1.02);
}

.form-container::-webkit-scrollbar {
  width: 10px;
  transition: width 0.3s;
}

.form-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.form-container::-webkit-scrollbar-thumb {
  background: #0056b3;
  border-radius: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #333;
  text-shadow: 1px 1px 2px #aaa;
}

.form-group {
  margin-bottom: 2rem;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  color: #333;
  font-size: 1.1rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea,
input[type="datetime-local"] {
  width: 94%;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #f9f9f9;
  color: #333;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus,
input[type="datetime-local"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.error-input {
  border-color: #dc3545;
}

.checkbox-group {
  display: flex;
  gap: 1rem;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #333;
  font-size: 1.1rem;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 0.5rem;
}

.error {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

button {
  background-color: #007bff;
  color: white;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}

button:hover {
  background-color: #0056b3;
}

.form-summary {
  text-align: center;
  padding: 2rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}

.form-summary ul {
  list-style-type: none;
  padding: 0;
}

.form-summary ul li {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: #333;
}

.form-summary ul li strong {
  font-weight: bold;
  color: #007bff;
}

.form-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.form-container::-webkit-scrollbar-track {
  background: #f9f9f9;
}

.form-container::-webkit-scrollbar-thumb {
  background-color: #0056b3;
  border-radius: 10px;
}
